edc_app/static/schemas/match.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="match" type="matchType"/>
  <xs:complexType name="matchType">
    <xs:sequence>
      <xs:element type="xs:string" name="idEvent"/>
      <xs:element type="xs:string" name="idSoccerXML"/>
      <xs:element type="xs:string" name="idAPIfootball"/>
      <xs:element type="xs:string" name="strEvent"/>
      <xs:element type="xs:string" name="strEventAlternate"/>
      <xs:element type="xs:string" name="strFilename"/>
      <xs:element type="xs:string" name="strSport"/>
      <xs:element type="xs:string" name="idLeague"/>
      <xs:element type="xs:string" name="strLeague"/>
      <xs:element type="xs:string" name="strSeason"/>
      <xs:element type="xs:string" name="strDescriptionEN"/>
      <xs:element type="xs:string" name="strHomeTeam"/>
      <xs:element type="xs:string" name="strAwayTeam"/>
      <xs:element type="xs:string" name="intHomeScore"/>
      <xs:element type="xs:string" name="intRound"/>
      <xs:element type="xs:string" name="intAwayScore"/>
      <xs:element type="xs:string" name="intSpectators"/>
      <xs:element type="xs:string" name="strOfficial"/>
      <xs:element type="xs:string" name="strHomeGoalDetails"/>
      <xs:element type="xs:string" name="strHomeRedCards"/>
      <xs:element type="xs:string" name="strHomeYellowCards"/>
      <xs:element type="xs:string" name="strHomeLineupGoalkeeper"/>
      <xs:element type="xs:string" name="strHomeLineupDefense"/>
      <xs:element type="xs:string" name="strHomeLineupMidfield"/>
      <xs:element type="xs:string" name="strHomeLineupForward"/>
      <xs:element type="xs:string" name="strHomeLineupSubstitutes"/>
      <xs:element type="xs:string" name="strHomeFormation"/>
      <xs:element type="xs:string" name="strAwayRedCards"/>
      <xs:element type="xs:string" name="strAwayYellowCards"/>
      <xs:element type="xs:string" name="strAwayGoalDetails"/>
      <xs:element type="xs:string" name="strAwayLineupGoalkeeper"/>
      <xs:element type="xs:string" name="strAwayLineupDefense"/>
      <xs:element type="xs:string" name="strAwayLineupMidfield"/>
      <xs:element type="xs:string" name="strAwayLineupForward"/>
      <xs:element type="xs:string" name="strAwayLineupSubstitutes"/>
      <xs:element type="xs:string" name="strAwayFormation"/>
      <xs:element type="xs:string" name="intHomeShots"/>
      <xs:element type="xs:string" name="intAwayShots"/>
      <xs:element type="xs:string" name="strTimestamp"/>
      <xs:element type="xs:string" name="dateEvent"/>
      <xs:element type="xs:string" name="dateEventLocal"/>
      <xs:element type="xs:string" name="strDate"/>
      <xs:element type="xs:string" name="strTime"/>
      <xs:element type="xs:string" name="strTimeLocal"/>
      <xs:element type="xs:string" name="strTVStation"/>
      <xs:element type="xs:string" name="idHomeTeam"/>
      <xs:element type="xs:string" name="idAwayTeam"/>
      <xs:element type="xs:string" name="strResult"/>
      <xs:element type="xs:string" name="strVenue"/>
      <xs:element type="xs:string" name="strCountry"/>
      <xs:element type="xs:string" name="strCity"/>
      <xs:element type="xs:string" name="strPoster"/>
      <xs:element type="xs:string" name="strFanart"/>
      <xs:element type="xs:string" name="strThumb"/>
      <xs:element type="xs:string" name="strBanner"/>
      <xs:element type="xs:string" name="strMap"/>
      <xs:element type="xs:string" name="strTweet1"/>
      <xs:element type="xs:string" name="strTweet2"/>
      <xs:element type="xs:string" name="strTweet3"/>
      <xs:element type="xs:string" name="strVideo"/>
      <xs:element type="xs:string" name="strStatus"/>
      <xs:element type="xs:string" name="strPostponed"/>
      <xs:element type="xs:string" name="strLocked"/>
      <xs:element type="xs:string" name="strHomeBadge"/>
      <xs:element type="xs:string" name="strAwayBadge"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>