edc_app/static/schemas/players.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="players" type="playersType"/>
  <xs:complexType name="playerType">
    <xs:sequence>
      <xs:element type="xs:string" name="ID"/>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:string" name="PhotoUrl"/>
      <xs:element type="xs:string" name="Nationality"/>
      <xs:element type="xs:string" name="Club"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="playersType">
    <xs:sequence>
      <xs:element type="playerType" name="player" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>