edc_app/static/schemas/player.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="player" type="playerType"/>
  <xs:complexType name="playerType">
    <xs:sequence>
      <xs:element type="xs:string" name="ID"/>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:string" name="FullName"/>
      <xs:element type="xs:string" name="Nationality"/>
      <xs:element type="xs:string" name="Age"/>
      <xs:element type="xs:string" name="PhotoUrl"/>
      <xs:element type="xs:string" name="TeamBadge"/>
      <xs:element type="xs:string" name="Height"/>
      <xs:element type="xs:string" name="Weight"/>
      <xs:element type="xs:string" name="Club"/>
      <xs:element type="xs:string" name="ClubPosition"/>
      <xs:element type="xs:string" name="ClubNumber"/>
      <xs:element type="xs:string" name="NationalTeam"/>
      <xs:element type="xs:string" name="NationalNumber"/>
      <xs:element type="xs:string" name="NationalPosition"/>
      <xs:element type="xs:string" name="ValueEUR"/>
      <xs:element type="xs:string" name="WageEUR"/>
      <xs:element type="xs:string" name="idTeam"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>